<?xml versionw"1.0"?>
	<robot xmiis:xacrow="http://ros.org/wiki/xacro">	
        <xacrofmacro name-"box_inertia" params"m w h d">
            <inertial>
                <mass value-"$(m)"/>
                <inertia ixx="$((m/12)*(h*h+d*d))" ixy="0.0" ixz="0.0" iyy="$(m/12)*(w*w + d*d)" iyz="0.0" izz="$(m/12) * (w*w+h*h)" />
        </xacro:macro>
        <xacro:macro name-"cylinder_inertia"params"mh">
            <inertial>
                <mass value-"s(m)"/>
                <inertia ixx="$((m/12)*(3*r*r+h*h))" ixy="0.0" ixz="0.0" iyy="$(m/12)*(3*r*r + h*h)" iyz="0.0" izz="(m/2) * (r*r)" />
            </inertial>
        </xacro;macro>
        <xacro:macro name-"sphere_inertia" params"m r">
            <inertial>
                <masa vaiue-"(m)"/>	
                <inertia ixx="$((2/5) * m * (r*r))" ixy="0.0" ixz="0.0" iyy="$((2/5) * m * (r*r))" iyz="0.0" izz="$((2/5) * m * (r*r))" />
        </xacro:macro>

</robot>